<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheet.css' />
  </head>
  <body class="center">
    

    <div class="centerdesign">
    <div class="container">
        <div class="card">
          <div class="content-1">
            <span class="arrow-left">
              <h4 style="color:#ffffff" onclick="window.location.href='/'">LOGOUT   <i class="fas fa-sign-out-alt" style="color:#ffffff" aria-hidden="true"></i></h5>
            </span>
          </div>
          <div class="content-2">
            <div class="branding">
              <!-- here goes the data welcome message  -->
              <span class="black">Hi user!</span>
              <h4 class="black">CStack Applications</h4>
            </div>

           <ul class="onn inn">
              <li class="list"><a><img src="https://img.icons8.com/fluent/96/ffffff/phone.png"/></a></li>
              <li class="list"><a><img src="https://img.icons8.com/fluent/96/ffffff/hdd.png"/> </a></li>
              <li class="list"><a><img src="https://img.icons8.com/fluent/96/ffffff/chat.png"/></a></li>
              <li class="list"><a><img src="https://img.icons8.com/fluent/96/ffffff/video-call.png"/></a></li>
              <li class="list"><a><img src="https://img.icons8.com/fluent/96/ffffff/mail.png"/></i></a></li>
              
              <h4 class="black">Infortainment</h4>
              

              <li class="list"><a><img src="https://img.icons8.com/fluent/96/ffffff/restore-window.png"/></a></li>
              <li class="list"><a><img src="https://img.icons8.com/ultraviolet/96/4a90e2/visible.png"/></a></li>
              <li class="list"><a><img src="https://img.icons8.com/fluent/96/4a90e2/help.png"/></a></li>
              
          </div>
          </div>
        </div>
    </div>
  </div>
  </body>
</html>
